<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.licheedev.serialtool">

<!--    android:sharedUserId="android.uid.system"-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <!-- 接收开机广播的权限，开机是很危险的行为，所以需要此权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:configChanges="locale"
        android:installLocation="internalOnly"
        android:theme="@style/AppThemeNoActionBar">

        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged">

        </activity>

        <!--注册广播-->
<!--        <category android:name="android.intent.category.LAUNCHER"></category>-->
        <receiver android:name=".receiver.NetReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" /> <!-- 开机广播 -->
            </intent-filter>
        </receiver>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CheckingActivity"
            android:screenOrientation="landscape">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.deposit.DepositDetailsActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.PaperCurrencyDepositActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.SetManageActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.DepositRecordActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.OtherDepositActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.ClearDeviceTestActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.manage.ManageActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.NetWorkTestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.manage.DeviceRegisterActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.manage.DataUploadActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.SettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.print.SystemPrintActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.manage.DeviceManageActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.MaintainActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.update.VersionUpdateActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.DeviceSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.SelectDepositActivitys"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.deposit.DepositManageActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.manage.UserManageActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.NetworkSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.CashRegisterSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.DynamicPwdSetActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.SerialportSetActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.ServiceSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.FunctionSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.setting.EnvelopeSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.SystemInfoActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.DeviceSetActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.DebugActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.DeviceControlActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.DepositErrorActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.SysDetailsInfoActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.BillBagsettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.SystemDebugActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.maintain.DeviceSelfcheckActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.print.ClearingRecordActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.print.DealRecordActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.update.AndroidUpdateActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.manage.update.UpdateSettingActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.clear.ClearDeviceHintActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".activity.manage.setting.BasicInformationActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>